.text_container {
    text-align: center;
    padding-bottom: 2em;
}


.container h1 {
    font-size: 30px;
}



.contact_form input,
.contact_form label,
.contact_form button {
    display:block ;
    width: 100%;
}

.contact_form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #932304;
    width: 80%;
    margin: auto;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 1em;
    border: none;
     cursor: pointer;
    transition: background-color 0.3s ease;
} 

.contact_form input,
.contact_form textarea {
    padding: 10px;
    margin-bottom: 2em;
    border-radius: 3px;
    outline: none;
    border: solid 1px #474747;
    font-size: 18px;
}

.contact_form textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 2em;
    resize: none;
}

.contact_form input:focus,
.contact_form textarea:focus {
    border: solid 2px #932304;
}

.container {
    background-color: #f0eeea;
    border-top: solid 3px #f8bd0b;
    padding-top: 3em;
    padding-bottom: 3em;
}

.socials a {
    margin-right: 15px;
    font-size: 30px;
    color: #474747;
}

.form_container h1 {
    margin-bottom: 1em;
    text-align: center;
}

.contact_form button:hover,
.contact_form button:active {
    background-color: #6e1d07; 
}


/*/////////////*/
.contact_form {
}

.submit_success {
    text-align: center;
    padding-bottom: 3em;
}

.form_container .submit_success h1 {
    text-align: center;
    margin: 0;
}

.checkIcon {
    font-size: 80px;
    color: #932304;
    padding: 10px;
    border-radius: 40px;
}

.error {
    color: red;
    margin-top: -2em;
    margin-bottom: 2em;
    font-size: 12px;

}

@media(min-width:768px) {
    .form_container {
        max-width: 90%;
    }


}

@media(min-width:1024px) {

    .text_container {
        text-align: left;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 7em;
        padding-bottom: 7em;
    }

    .text_container,
    .form_container {
        width: 45%;
    }

    .input_flex {
        display: flex;
        justify-content: space-between;
    }

    .input_flex div {
        width: 48%;
    }

    .form_container h1 {
        text-align: left;
    }
    
}

@media(min-width:1500px) {
    .text_container,
    .form_container {
        width: 35%;
    }
}